<div style="display: flex; justify-content: space-between; align-items: center;">
	<span>
		<span style="margin-right: 1em;">&copy; <script>document.write(new Date().getFullYear())</script> Connor Mason</span>
		<span>he, him</span>
	</span>
	<span class="footer-links">
		<script>n='connor';d='mason';t='me';document.write('<a href="mailto:'+n+'@'+d+'.'+t+'" target="_blank"><i class="fa-solid fa-envelope"></i></a>');</script>
		<a href="https://hachyderm.io/@connor" rel="me" target="_blank"><i class="fa-brands fa-mastodon"></i></a>
		<a href="https://github.com/conmas" target="_blank"><i class="fa-brands fa-github"></i></a>
		<a href="https://linkedin.com/in/cnnrmsn" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
	</span>
</div>