.highlight  {
  background: var(--bg-2);
  padding: 1px 1em;
  border-radius: 3px;
  font-size: .75em;
  font-size: 0.9em;
  overflow: auto;
  margin: 1em -1em;
  code { padding: 0; }
}

div.highlight { display: grid; }

.highlight .cm { color: var(--tx-3); font-style: italic } /* Comment */
.highlight .er { color: var(--re); }                      /* Error */
.highlight .fn { color: var(--or); }                      /* Function */
.highlight .cn { color: var(--ye); }                      /* Constant */
.highlight .kw { color: var(--gr); font-weight: bold }    /* Keyword */
.highlight .op { color: var(--tx-2); font-weight: bold }  /* Operator */
.highlight .st { color: var(--gr); }                      /* String */
.highlight .vr { color: var(--bl); }                      /* Variable */
.highlight .nu { color: var(--pu); }                      /* Number */
.highlight .lf { color: var(--ma); }                      /* Language feature */