$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 30%);
$color-subtext: hsl(0, 0%, 50%);
$color-border: hsl(0, 0%, 85%);
$color-accent: #3AA99F;
$color-box-background: mix($color-primary, white, 4%);