:root {
  color-scheme: light dark;
  --bg:       rgb(255, 252, 240); /* Main background */
  --bg-2:     rgb(242, 240, 229); /* Secondary background */
  
  --ui:       rgb(230, 228, 217); /* Borders */
  --ui-2:     rgb(218, 216, 206); /* Hovered borders */
  --ui-3:     rgb(206, 205, 195); /* Active borders */
  
  --tx:       rgb(16, 15, 15);    /* Primary text */
  --tx-2:     rgb(111, 110, 105); /* Muted text */
  --tx-3:     rgb(183, 181, 172); /* Faint text */
  
  --re:       rgb(175, 48, 41);
  --or:       rgb(188, 82, 21);
  --ye:       rgb(173, 131, 1);
  --gr:       rgb(102, 128, 11);
  --cy:       rgb(36, 131, 123);  /* Links, active states */
  --bl:       rgb(32, 94, 166);
  --pu:       rgb(94, 64, 157);
  --ma:       rgb(160, 47, 111);
  
  @media (prefers-color-scheme: dark) {
    --bg:     rgb(16, 15, 15);    /* Main background */
    --bg-2:   rgb(28, 27, 26);    /* Secondary background */
    
    --ui:     rgb(40, 39, 38);    /* Borders */
    --ui-2:   rgb(52, 51, 49);    /* Hovered borders */
    --ui-3:   rgb(64, 62, 60);    /* Active borders */
    
    --tx:     rgb(206, 205, 195); /* Primary text */
    --tx-2:   rgb(135, 133, 128); /* Muted text */
    --tx-3:   rgb(87, 86, 83);    /* Faint text */
    
    --re:     rgb(209, 77, 65);
    --or:     rgb(218, 112, 44);
    --ye:     rgb(208, 162, 21);
    --gr:     rgb(135, 154, 57);
    --cy:     rgb(58, 169, 159);  /* Links, active states */
    --bl:     rgb(67, 133, 190);
    --pu:     rgb(139, 126, 200);
    --ma:     rgb(206, 93, 151);
  }
}

$border-radius: 4px;
$font-family: system-ui, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji";

html {
  background: var(--bg);
}

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: var(--tx);
  font-size: 1rem;
  max-width: 38em;
  @media (min-width: 820px) { font-size: 1.2rem; }
}

time {
  display: block;
  color: var(--tx-2);
  margin: 0.5em 0 1em;
}

.caption {
  color: var(--tx-2);
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 0em 4vw 2em;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.footnotes {
  color: var(--tx-3);
  font-size: 0.8rem;
  line-height: 1.5;
}

#site-title {
  color: var(--tx) !important;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: var(--tx-3);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
  @media (prefers-color-scheme: dark) { filter: brightness(.8) contrast(1.2); }
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: var(--bg-2);
  border-radius: $border-radius;
  p { margin: 0; }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: var(--ui);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1 { 
  font-weight: 500;
  font-size: 2em;
  font-size: calc(1.35em + 0.55vw);
  letter-spacing: -0.02em;
  line-height: 1.25;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}
h2 {
  font-weight: 500;
  font-size: 1.4em;
  font-size: calc(1em + 0.2vw);
  letter-spacing: -0.015em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}
h3 { 
  font-weight: 500;
  font-size: 1.2em;
  font-size: 1em;
  line-height: 1.3;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h4 { 
  font-size: 1em;
  font-weight: 600;
  line-height: 1.3; 
  margin-top: 1em;
}
h5 {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
}

content {
  h2 { margin-top: 2em; }
  h1 + h2, h2 + h3 { margin-top: 1em; }
  h3 { margin-top: 1.5em; }
}

a {
  transition: background 300ms;
  text-decoration: none;
  color: var(--cy);
  &:hover {
    color: var(--tx);
    background: var(--ui-2);
  }
}

nav { margin: 1em 0 3em; }

.backlinks, .toots, .toot-body { font-size: 0.9em }
.backlinks h3, .toots h3 { margin-bottom: 1em }

.toot { padding-bottom: 1rem; }
.toot-meta { color: var(--tx-3); }

table { text-align: left; font-size: 0.75em; font-variant-numeric: tabular-nums; }
th { margin-top: 5px !important; }
tr { border-top: 1px solid var(--tx-2) !important; }
td { margin-right: 5px !important; }