---
layout: default
---

<article>
	
  <h1>{{ page.title }}</h1>
  
  <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
    {{ page.date | date: "%B %-d, %Y" }} • 
    
    {% capture words %}
      {{ page.content | number_of_words | minus: 250 }}
    {% endcapture %}
    
    {% unless words contains "-" %}
      {{ words | plus: 250 | divided_by: 180 | append: " minute read" }}
    {% endunless %}
    {% if page.attribution %}
      • Originally published
      {% if page.original_site and page.original_url %}
        on <a href="{{ page.original_url }}">{{ page.original_site }}</a>
      {% elsif page.original_site %}
        on {{ page.original_site }}</p>
      {% else %}
        elsewhere.
      {% endif %}
    {% endif %}
  </time>
  
  <content>
	  {{ content }}
  </content>
  
</article>